.header-container{
    display: flex;
    background-color: lightskyblue;
    border: 4px solid blue;
    height: 20vh;
    padding: 15px;
    margin-bottom: 15px;
}

.header-item{
    flex: 1;
    border: 4px solid orange;
    background-color: bisque;
    margin: 5px;
    padding: 5px;
}

.header-item.container{
    display: flex;
}

.header-item-container-item{
    flex: 1;
    border: 4px solid red;  
    background-color: lightcoral; 
}

.content-container{
    display: flex;
    height: 30vh;
    margin-bottom: 10px;
}

.content-left{
    flex: 1;
    background: salmon;
}

.content-right{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-right div{
    background: salmon;
    flex: 1;
    margin-left: 10px;
}

.right-item-top{
    margin-bottom: 10px;
}

.footer-container{
    display: flex;
    background-color: lightskyblue;
    border: 4px solid blue;
    height: 20vh;
    padding: 15px;
    margin-bottom: 15px;
}

.footer-item-container{
    display: flex;
    flex: 1;
    margin: 5px;
}

.footer-item-container div{
    flex: 1;
    border: 4px solid brown;
    background-color: orange;
}

.footer-item-container-left{
    margin-right: 10px;
}

.footer-item{
    flex: 1;
    border: 4px solid purple;
    background-color: lavender;
    margin: 5px;
    padding: 5px;
}